/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB     &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y          &kp U  &kp I            &kp O    &kp P     &kp RIGHT_ALT
&kp ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H          &kp J  &kp K            &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N          &kp M  &kp COMMA        &kp DOT  &kp FSLH  &kp ENTER
                          &kp LGUI  &mo 2  &kp SPACE    &kp BACKSPACE  &mo 1  &kp RIGHT_SHIFT
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3    &kp N4        &kp N5       &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&trans     &trans  &trans  &trans    &trans        &trans       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&kp LSHFT  &trans  &trans  &trans    &trans        &trans       &trans    &trans    &trans  &trans     &trans  &trans
                           &kp LGUI  &kp LEFT_ALT  &kp SPACE    &kp RET   &trans    &tog 4
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp AMPS  &kp PLUS       &kp MINUS  &kp STAR          &kp CARET      &kp C_PREV            &kp C_PLAY      &kp C_NEXT  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
&kp LCTRL  &kp EXCL  &kp AT         &kp HASH   &kp DOLLAR        &kp PERCENT    &kp LEFT_PARENTHESIS  &kp LEFT_BRACE  &kp LBKT    &trans             &kp BSLH         &kp GRAVE
&mo 3      &trans    &kp LESS_THAN  &kp EQUAL  &kp GREATER_THAN  &trans         &kp MINUS             &kp PLUS        &trans      &trans             &kp PIPE         &kp TILDE
                                    &kp LGUI   &trans            &kp SPACE      &kp RET               &trans          &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans                 &trans           &trans             &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp UNDER              &kp EQUAL        &trans             &trans  &trans  &trans
                        &trans  &trans  &trans    &trans                 &trans           &trans
            >;
        };

        super_layer {
            bindings = <
&kp TAB     &kp N1  &kp N2  &kp N3    &kp N4    &kp N5    &kp N6    &kp N7        &kp N8         &kp N9     &kp N0  &trans
&kp ESCAPE  &trans  &trans  &trans    &trans    &trans    &kp LEFT  &kp UP_ARROW  &kp DOWN       &kp RIGHT  &trans  &trans
&kp LCTRL   &trans  &trans  &trans    &trans    &trans    &trans    &trans        &trans         &trans     &trans  &trans
                            &kp LALT  &kp LGUI  &trans    &trans    &tog 4        &kp BACKSPACE
            >;
        };
    };
};
